.oculus {
  display: block;
  h3, h4 {
    -webkit-font-smoothing: antialiased;
  }
  h3 {
    font-family: "Oculus Sans", "Arial", sans-serif;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    margin: 0;
    text-align: center;
  }
  h4 {
    font-family: "Oculus Sans", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 16px;
    color: #a4a5a6;
    margin: 0;
    text-align: center;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  .pic {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    opacity: .3;
    text-align: center;
    transition: transform .3s, opacity .3s;
    width: 100%;
  }
}

.oculus-item {
  float: left;
  background: #282828;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 33.333%;
  &:hover .pic {
    opacity: .8;
    transform: scale(1.1, 1.1);
  }
}

@media screen and (max-width: 767px) {
  .oculus-item {
    width: 100%;
    float: none;
  }
  .oculus {
    display: block;
    align-items: sketch;
  }
}

.oculus-text {
  box-sizing: border-box;
  padding: 0 32px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
}