html
    body
        #shell-header.shell-header.shell-responsive(ms.pgarea='header', role='banner')
            .shell-header-wrapper
                .shell-header-top(data-bi-area='HeaderL0', data-bi-view='L0V1')
                    .shell-header-brand(ms.cmpgrp='logo')
                        a#srv_shellHeaderMicrosoftLogo(href='https://www.microsoft.com', ms.cmpnm='MicrosoftBrandLogo', ms.title='Microsoft', title='Microsoft', data-bi-name='BrandLogo', tabindex='10')
                            img(src='assets/img/microsoft.png', alt='Microsoft', ms.title='microsoft')
                    .shell-header-nav-wrapper(ms.cmpgrp='nav', role='navigation')
                        ul#srv_shellHeaderNav.shell-header-nav(role='menubar', data-bi-area='L1', data-bi-view='Hovermenus')
                            li.shell-header-user-mobile-container
                            li.shell-header-dropdown(data-navcontainer='shellmenu_40_NavContainer')
                                #shellmenu_40.shell-header-dropdown-label
                                    a#Store-navigation(href='javascript:void(0)', role='button', aria-labelledby='shellmenu_40', aria-expanded='false', ms.title='Store', data-bi-name='Store', data-bi-slot='1', tabindex='20')
                                        | Store
                                .shell-header-dropdown-content(aria-hidden='true', role='menu', style='height: auto;')
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Store home')
                                        dt#shellmenu_41.shell-header-dropdown-tab-label.shell-header-L2menu-direct-link
                                            a(href='http://www.microsoftstore.com/store/msusa/en_US/home', ms.title='Store home', tabindex='20', data-bi-name='Store_StoreHome', ms.link_type='ms store') Store home
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Devices')
                                        dt#shellmenu_42.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Devices', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Devices
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_43
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/All-Surface/categoryID.69403400', ms.title='Microsoft Surface', tabindex='20', data-bi-name='Devices_Surface', ms.link_type='ms store', ms.prod='cid69403400')
                                                        | Microsoft Surface
                                                li#shellmenu_44
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/All-PCs-tablets/categoryID.69404700', ms.title='PCs & tablets', tabindex='20', data-bi-name='Devices_PCsAndTablets', ms.link_type='ms store', ms.prod='cid69404700')
                                                        | PCs & tablets
                                                li#shellmenu_45
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/categoryID.69405400', ms.title='Xbox', tabindex='20', data-bi-name='Devices_Xbox', ms.link_type='ms store', ms.prod='cid69405400')
                                                        | Xbox
                                                li#shellmenu_46
                                                    a.shell-l3-list-item(href='https://www.microsoftstore.com/store/msusa/en_US/cat/Virtual-and-Augmented-Reality/categoryID.594470000?icid=en_US_Store_UH_devices_vr', ms.title='Virtual reality', tabindex='20', data-bi-name='Devices_VirtualReality', ms.link_type='ms store', ms.prod='cid594470000')
                                                        | Virtual reality
                                                li#shellmenu_47
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/All-accessories/categoryID.69407900', ms.title='Accessories', tabindex='20', data-bi-name='Devices_Accessories', ms.link_type='ms store', ms.prod='cid69407900')
                                                        | Accessories
                                                li#shellmenu_48
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/All-Windows-Phone/categoryID.69406200', ms.title='Windows phone', tabindex='20', data-bi-name='Devices_WindowsPhone', ms.link_type='ms store', ms.prod='cid69406200')
                                                        | Windows phone
                                                li#shellmenu_49
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/categoryID.69889600 ', ms.title='Microsoft Band', tabindex='20', data-bi-name='Store_MicrosoftBand', ms.link_type='ms store', ms.prod='cid69889600')
                                                        | Microsoft Band
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Software')
                                        dt#shellmenu_50.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Software', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Software
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_51
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/All-Office/categoryID.69403900', ms.title='Office', tabindex='20', data-bi-name='Store_Software_Office', ms.link_type='ms store', ms.prod='cid69403900')
                                                        | Office
                                                li#shellmenu_52
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/categoryID.70036700', ms.title='Windows', tabindex='20', data-bi-name='Store_Software_Windows', ms.link_type='ms store', ms.prod='cid70036700')
                                                        | Windows
                                                li#shellmenu_53
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/All-additional-software/categoryID.69407400', ms.title='Additional software', tabindex='20', data-bi-name='Store_Software_AdditionalSoftware', ms.link_type='ms store', ms.prod='cid69407400')
                                                        | Additional software
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Apps')
                                        dt#shellmenu_54.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Apps', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Apps
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_55
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/apps', ms.title='All apps', tabindex='20', data-bi-name='Store_AllApps')
                                                        | All apps
                                                li#shellmenu_56
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/apps/windows', ms.title='Windows apps', tabindex='20', data-bi-name='Store_Apps_WindowsApps')
                                                        | Windows apps
                                                li#shellmenu_57
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/apps/windows-phone', ms.title='Windows phone apps', tabindex='20', data-bi-name='Store_Apps_WindowsPhoneApps')
                                                        | Windows phone apps
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Games')
                                        dt#shellmenu_58.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Games', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Games
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_59
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/Xbox-One-games/categoryID.69405600', ms.title='Xbox One games', tabindex='20', data-bi-name='Store_Xbox One games', ms.link_type='ms store', ms.prod='cid69405600')
                                                        | Xbox One games
                                                li#shellmenu_60
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/Xbox-360-games/categoryID.69405800', ms.title='Xbox 360 games', tabindex='20', data-bi-name='Store_Xbox360Games', ms.link_type='ms store', ms.prod='cid69405800')
                                                        | Xbox 360 games
                                                li#shellmenu_61
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/list/PC-games/categoryID.62688000?icid=en_US_Store_UH_games_PC', ms.title='PC games', tabindex='20', data-bi-name='Store_PCGames', ms.link_type='ms store', ms.prod='cid62688000')
                                                        | PC games
                                                li#shellmenu_62
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/games/windows', ms.title='Windows games', tabindex='20', data-bi-name='Store_Games_Windowsgames')
                                                        | Windows games
                                                li#shellmenu_63
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/games/windows-phone', ms.title='Windows phone games', tabindex='20', data-bi-name='Store_Games_WindowsPhoneGames')
                                                        | Windows phone games
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Entertainment')
                                        dt#shellmenu_64.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Entertainment', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Entertainment
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_65
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/entertainment', ms.title='All Entertainment', tabindex='20', data-bi-name='Store_Entertainment_AllEntertainment')
                                                        | All Entertainment
                                                li#shellmenu_66
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/movies-and-tv', ms.title='Movies & TV', tabindex='20', data-bi-name='Store_Entertainment_MoviesAndTV')
                                                        | Movies & TV
                                                li#shellmenu_67
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/store/music', ms.title='Music', tabindex='20', data-bi-name='Store_Entertainment_Music')
                                                        | Music
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Business & Education')
                                        dt#shellmenu_68.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Business & Education', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Business & Education
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_69
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/Business/categoryID.69408700', ms.title='Business Store', tabindex='20', data-bi-name='BusinessAndEducation_Business', ms.link_type='ms store', ms.prod='cid69408700')
                                                        | Business Store
                                                li#shellmenu_70
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/edu', ms.title='Education Store', tabindex='20', data-bi-name='BusinessAndEducation_Education', ms.link_type='ms store')
                                                        | Education Store
                                                li#shellmenu_71
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/Developer/categoryID.69418300?icid=en_US_Store_UH_BusEd_Dev', ms.title='Developer', tabindex='20', data-bi-name='BusinessAndEducation_Developer', ms.link_type='ms store', ms.prod='cid69418300')
                                                        | Developer
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Sale')
                                        dt#shellmenu_72.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Sale', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Sale
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_73
                                                    a.shell-l3-list-item(href='https://www.microsoftstore.com/store/msusa/en_US/cat/Back-to-school-essentials/categoryID.67998200?icid=en_US_Store_UH_sale_gm_bts', ms.title='Back-to-school essentials', tabindex='20', data-bi-name='Sale_BacktoSchoolEssentials', ms.link_type='ms store', ms.prod='cid67998200')
                                                        | Back-to-school essentials
                                                li#shellmenu_74
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/Sale/categoryID.69403000', ms.title='Sale', tabindex='20', data-bi-name='Sale_Sale', ms.link_type='ms store', ms.prod='cid69403000')
                                                        | Sale
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Find a store')
                                        dt#shellmenu_75.shell-header-dropdown-tab-label.shell-header-L2menu-direct-link
                                            a(href='http://www.microsoft.com/en-us/store/locations/find-a-store?icid=L_navAB_FindAStore', ms.title='Find a store', tabindex='20', data-bi-name='Store_FindAStore', ms.ea_name='buy intent', ms.ea_action='locate') Find a store
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Store; Gift cards')
                                        dt#shellmenu_76.shell-header-dropdown-tab-label.shell-header-L2menu-direct-link
                                            a(href='https://www.microsoft.com/en-us/store/gift-cards', ms.title='Gift cards', tabindex='20', data-bi-name='Store_GiftCards') Gift cards
                            li.shell-header-dropdown(data-navcontainer='shellmenu_77_NavContainer')
                                #shellmenu_77.shell-header-dropdown-label
                                    a#Products-navigation(href='javascript:void(0)', role='button', aria-labelledby='shellmenu_77', aria-expanded='false', ms.title='Products', data-bi-name='Products', data-bi-slot='2', tabindex='20')
                                        | Products
                                .shell-header-dropdown-content(aria-hidden='true', role='menu', style='height: auto;')
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Products; Software & services')
                                        dt#shellmenu_78.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Software & services', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Software & services
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_79
                                                    a.shell-l3-list-item(href='//www.microsoft.com/en-us/windows', ms.title='Windows', tabindex='20', data-bi-name='Products_SoftwareAndServices_Windows')
                                                        | Windows
                                                li#shellmenu_80
                                                    a.shell-l3-list-item(href='https://products.office.com/en-us/home', ms.title='Office', tabindex='20', data-bi-name='Products_SoftwareAndServices_Office')
                                                        | Office
                                                li#shellmenu_81
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/download/default.aspx', ms.title='Free downloads & security', tabindex='20', data-bi-name='Products_SoftwareAndServices_FreeDownloadsAndSecurity')
                                                        | Free downloads & security
                                                li#shellmenu_82
                                                    a.shell-l3-list-item(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie', ms.title='Internet Explorer', tabindex='20', data-bi-name='Products_SoftwareAndServices_InternetExplorer')
                                                        | Internet Explorer
                                                li#shellmenu_83
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/windows/microsoft-edge', ms.title='Microsoft Edge', tabindex='20', data-bi-name='Products_SoftwareAndServices_MicrosoftEdge')
                                                        | Microsoft Edge
                                                li#shellmenu_84
                                                    a.shell-l3-list-item(href='http://www.skype.com/en/', ms.title='Skype', tabindex='20', data-bi-name='Products_SoftwareAndServices_Skype')
                                                        | Skype
                                                li#shellmenu_85
                                                    a.shell-l3-list-item(href='http://www.onenote.com/', ms.title='OneNote', tabindex='20', data-bi-name='Products_SoftwareAndServices_OneNote')
                                                        | OneNote
                                                li#shellmenu_86
                                                    a.shell-l3-list-item(href='https://onedrive.live.com/about/en-us/', ms.title='OneDrive', tabindex='20', data-bi-name='Products_SoftwareAndServices_OneDrive')
                                                        | OneDrive
                                                li#shellmenu_87
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/microsoft-health/en-us', ms.title='Microsoft Health', tabindex='20', data-bi-name='Products_SoftwareAndServices_MicrosoftHealth')
                                                        | Microsoft Health
                                                li#shellmenu_88
                                                    a.shell-l3-list-item(href='http://www.msn.com/?ocid=HEA000', ms.title='MSN', tabindex='20', data-bi-name='Products_SoftwareAndServices_MSN')
                                                        | MSN
                                                li#shellmenu_89
                                                    a.shell-l3-list-item(href='http://www.bing.com', ms.title='Bing', tabindex='20', data-bi-name='Products_SoftwareAndServices_Bing')
                                                        | Bing
                                                li#shellmenu_90
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/groove', ms.title='Microsoft Groove', tabindex='20', data-bi-name='Products_SoftwareAndServices_XboxMusic')
                                                        | Microsoft Groove
                                                li#shellmenu_91
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/movies-and-tv', ms.title='Microsoft Movies & TV', tabindex='20', data-bi-name='Products_SoftwareAndServices_XboxVideo')
                                                        | Microsoft Movies & TV
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Products; Devices & Xbox')
                                        dt#shellmenu_92.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='Devices & Xbox', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | Devices & Xbox
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_93
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/devices/en-us', ms.title='All Microsoft devices', tabindex='20', data-bi-name='Products_DevicesandXbox_AllMicrosoftDevices')
                                                        | All Microsoft devices
                                                li#shellmenu_94
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/surface/en-us', ms.title='Microsoft Surface', tabindex='20', data-bi-name='Products_DevicesAndXbox_Surface')
                                                        | Microsoft Surface
                                                li#shellmenu_95
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/cat/Computers/categoryID.62684600', ms.title='All Windows PCs & tablets', tabindex='20', data-bi-name='Products_DevicesAndXbox_AllPCsAndTablets', ms.link_type='ms store', ms.prod='cid62684600')
                                                        | All Windows PCs & tablets
                                                li#shellmenu_96
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/accessories/en-us', ms.title='PC accessories', tabindex='20', data-bi-name='Products_PCAccessories')
                                                        | PC accessories
                                                li#shellmenu_97
                                                    a.shell-l3-list-item(href='http://www.xbox.com', ms.title='Xbox & games', tabindex='20', data-bi-name='Products_DevicesAndXbox_XboxAndGames')
                                                        | Xbox & games
                                                li#shellmenu_98
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/Microsoft-Band/en-us', ms.title='Microsoft Band', tabindex='20', data-bi-name='Products_DevicesAndXbox_MicrosoftBand')
                                                        | Microsoft Band
                                                li#shellmenu_99
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/mobile/', ms.title='Microsoft Lumia', tabindex='20', data-bi-name='Products_DevicesAndXbox_LumiaPhones')
                                                        | Microsoft Lumia
                                                li#shellmenu_100
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/windows/phones', ms.title='All Windows phones', tabindex='20', data-bi-name='Products_DevicesAndXbox_AllWindowsPhones')
                                                        | All Windows phones
                                                li#shellmenu_101
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/microsoft-hololens/en-us', ms.title='Microsoft HoloLens', tabindex='20', data-bi-name='Products_DevicesAndXbox_MicrosoftHololens')
                                                        | Microsoft HoloLens
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Products; For business')
                                        dt#shellmenu_102.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='For business', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | For business
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_103
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/server-cloud/', ms.title='Cloud Platform', tabindex='20', data-bi-name='Products_ForBusiness_CloudPlatform')
                                                        | Cloud Platform
                                                li#shellmenu_104
                                                    a.shell-l3-list-item(href='http://azure.microsoft.com/', ms.title='Microsoft Azure', tabindex='20', data-bi-name='Products_ForBusiness_MicrosoftAzure')
                                                        | Microsoft Azure
                                                li#shellmenu_105
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/dynamics/default.aspx', ms.title='Microsoft Dynamics', tabindex='20', data-bi-name='Products_ForBusiness_MicrosoftDynamics')
                                                        | Microsoft Dynamics
                                                li#shellmenu_106
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/windows/business/default.aspx', ms.title='Windows for business', tabindex='20', data-bi-name='Products_ForBusiness_WindowsForBusiness')
                                                        | Windows for business
                                                li#shellmenu_107
                                                    a.shell-l3-list-item(href='https://products.office.com/en-us/business/office', ms.title='Office for business', tabindex='20', data-bi-name='Products_ForBusiness_OfficeForBusiness')
                                                        | Office for business
                                                li#shellmenu_108
                                                    a.shell-l3-list-item(href='https://products.office.com/en-us/skype-for-business', ms.title='Skype for business', tabindex='20', data-bi-name='Products_ForBusiness_SkypeForBusiness')
                                                        | Skype for business
                                                li#shellmenu_109
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/surface/en-us/business/overview', ms.title='Surface for business', tabindex='20', data-bi-name='Products_ForBusiness_SurfaceForBusiness')
                                                        | Surface for business
                                                li#shellmenu_110
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/enterprise', ms.title='Enterprise solutions', tabindex='20', data-bi-name='Products_ForBusiness_EnterpriseSolutions')
                                                        | Enterprise solutions
                                                li#shellmenu_111
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/business/', ms.title='Small business solutions', tabindex='20', data-bi-name='Products_ForBusiness_SmallBusinessSolutions')
                                                        | Small business solutions
                                                li#shellmenu_112
                                                    a.shell-l3-list-item(href='https://pinpoint.microsoft.com', ms.title='Find a solutions provider', tabindex='20', data-bi-name='Products_ForBusiness_FindASolutionsProvider')
                                                        | Find a solutions provider
                                                li#shellmenu_113
                                                    a.shell-l3-list-item(href='https://www.microsoft.com/en-us/licensing/default.aspx', ms.title='Volume Licensing', tabindex='20', data-bi-name='Products_ForBusiness_VolumeLicensing')
                                                        | Volume Licensing
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Products; For developers & IT pros')
                                        dt#shellmenu_114.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='For developers & IT pros', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | For developers & IT pros
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_115
                                                    a.shell-l3-list-item(href='https://dev.windows.com/en-us', ms.title='Develop Windows apps', tabindex='20', data-bi-name='Products_DeveloperAndITPro_DevelopWindowsApps')
                                                        | Develop Windows apps
                                                li#shellmenu_116
                                                    a.shell-l3-list-item(href='http://azure.microsoft.com/', ms.title='Microsoft Azure', tabindex='20', data-bi-name='Products_ForDevelopersAndITPros_Azure')
                                                        | Microsoft Azure
                                                li#shellmenu_117
                                                    a.shell-l3-list-item(href='http://msdn.microsoft.com/en-us/', ms.title='MSDN', tabindex='20', data-bi-name='Products_ForDevelopersAndITPros')
                                                        | MSDN
                                                li#shellmenu_118
                                                    a.shell-l3-list-item(href='http://technet.microsoft.com/en-us/', ms.title='TechNet', tabindex='20', data-bi-name='Products_ForDevelopersAndITPros_TechNet')
                                                        | TechNet
                                                li#shellmenu_119
                                                    a.shell-l3-list-item(href='http://www.visualstudio.com/', ms.title='Visual Studio', tabindex='20', data-bi-name='Products_ForDevelopersAndITPros_VisualStudio')
                                                        | Visual Studio
                                    dl.shell-header-dropdown-tab(ms.cmpnm='Products; For students & educators')
                                        dt#shellmenu_120.shell-header-dropdown-tab-label
                                            a(href='javascript:void(0)', role='button', ms.title='For students & educators', ms.interactiontype='14', tabindex='20', data-bi-dnt='')
                                                | For students & educators
                                                i.shell-icon-dropdown.facing-right
                                        dd.shell-header-dropdown-tab-content(data-col='0')
                                            ul.shell-header-dropdown-tab-list
                                                li#shellmenu_121
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/education/products/office/default.aspx', ms.title='Office for students', tabindex='20', data-bi-name='Products_ForStudentsAndEducators_OfficeForStudents')
                                                        | Office for students
                                                li#shellmenu_122
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/education/products/onenote/default.aspx', ms.title='OneNote in classroom', tabindex='20', data-bi-name='Products_ForStudentsAndEducators_OneNoteInClassroom')
                                                        | OneNote in classroom
                                                li#shellmenu_123
                                                    a.shell-l3-list-item(href='http://www.microsoftstore.com/store/msusa/en_US/edu', ms.title='Shop PCs & tablets perfect for students', tabindex='20', data-bi-name='Products_ForStudentsAndEducators_ShopPCsAndTablets', ms.link_type='ms store')
                                                        | Shop PCs & tablets perfect for students
                                                li#shellmenu_124
                                                    a.shell-l3-list-item(href='http://www.microsoft.com/en-us/education', ms.title='Microsoft in Education', tabindex='20', data-bi-name='Products_ForStudentsAndEducators_MicrosoftInEducation')
                                                        | Microsoft in Education
                            li#l1_support.shell-header-dropdown-label
                                a.top-level-link-text.ctl_headerNavLink(tabindex='20', href='https://support.microsoft.com/en-us', ms.title='Support', data-bi-name='Support', data-bi-slot='3')
                                    | Support
                    .shell-header-user-container
                        dl.shell-header-user
                            dt
                                span#meControl
                                    .msame_Header.msame_unauth(tabindex='60', style='height: 48px;')
                                        .msame_Header_name.msame_TxtTrunc(style='line-height: 48px;') Sign in
                                        .msame_Header_chev
                    .shell-header-nav-toggle(ms.cmpgrp='nav')
                        button.shell-header-toggle-menu(ms.cmpnm='mobile global nav toggle button', ms.title='Toggle menu', title='Toggle Menu', type='button', data-bi-name='Toggle Menu', tabindex='55')
                            i.shell-icon-menu
                    ul.shell-header-toggle(ms.cmpgrp='header actions')
                        li
                            button.shell-header-toggle-search(type='button', data-bi-name='Toggle Search Icon', ms.title='search toggle', title='Toggle Search', tabindex='45')
                                i.shell-icon-search
                    .shell-header-actions(ms.cmpgrp='header actions')
                        form#srv_shellHeaderSearchForm.shell-search(role='search', action='/surface/en-us/search', method='GET', autocomplete='off', onsubmit=' return window.msCommonShell.onSearch(this) ', ms.cmpnm='search')
                            .shell-search-wrapper
                                label.sr-only(for='cli_shellHeaderSearchInput') Search Microsoft
                                input#cli_shellHeaderSearchInput(type='search', title='Search this site', name='query', data-bi-dnt='', placeholder='Search this site', maxlength='200', tabindex='30')
                                button(type='submit', title='Search', data-bi-dnt='', tabindex='40')
                                    i.shell-icon-search
                                    span.sr-only Search
                                #cli_searchSuggestionsContainer.shell-search-dropdown-container
                                    .search-dropdown
                                        .dropdown-item
                                            ul#cli_searchSuggestionsResults(data-bi-name='Search Suggestions', data-bi-source='UnifiedSearch', ms.cmpgrp='search suggestions')
