html
    body
        section.hero.hero--subline.hero--female
            .hero__background-container.hero__background-container--female
            .top-section
                .top-section__container
                    h1.hero__header Безопасный доступ, синхронизация и совместная работа
                    h2.hero__sub-header
                        | Хранение и безопасный доступ к данным — аккаунты Dropbox Business пользуются доверием у системных администраторов и нравятся пользователям.
                    .try-business-cta
                        a.try-business-cta__button.button-big.button-primary(href='/business/try', target='') Попробуйте бесплатную 30-дневную ознакомительную версию
                        span.try-business-cta__footer.no-break
                            | или 
                            a(href='/business/buy') купите прямо сейчас 









