section.oculus
    .oculus-item
        a(href='oculus-link-1')
            .pic(style='background-image: url(/assets/img/eve-valkyrie.jpg);')
            .oculus-text
                h4 FEATURED CONTENT
                h3 EVE: Valkyrie
    .oculus-item
        a(href='oculus-link-2')
            .pic(style='background-image: url(/assets/img/luckys-tale.jpg);')
            .oculus-text
                h4 INCLUDED WITH ALL RIFT PURCHASES
                h3 Lucky's Tale
    .oculus-item
        a(href='oculus-link-3')
            .pic(style='background-image: url(/assets/img/touch.jpg);')
            .oculus-text
                h4 FEATURED STORY
                h3 Announcing Oculus Connect 3 and Rift Availability Update
