section.container.dark-blue.footer-signup.signup-form-wrapper.invisionapp
    .inside
        h2
            | Join over 2 million designers already using InVision. Get InVision
            strong free
            |  forever!
        form.signup_form(method='POST', action='', novalidate='novalidate')
            p
                label(for='signup_name') Your Name
                i.ico-user
                input#signup_name(type='text', name='name', value='', autocomplete='off', spellcheck='false')
            p
                label(for='signup_email') Email Address
                i.ico-email
                input#signup_email(type='text', name='email', value='', autocomplete='off', spellcheck='false')
            p
                label(for='signup_password') Create a Password
                i.ico-lock
                input#signup_password(type='password', name='password', value='', autocomplete='off', spellcheck='false')
            p.button
                button(type='submit') Get Started — Free Forever!
        p.terms
            | By clicking "Get Started — Free Forever!" I agree to InVision's 
            a(href='/terms') Terms of Service.

                script(type='text/javascript').
